@import './base.css';

* {
    box-sizing: border-box;
    color: #eb0;
}

*:focus, *:focus-visible {
    outline: 0 solid #750;
    box-shadow: 0 0 10px #d2f;
}

body {
    background-color: #333;
    border-color: #eb0;
    color: #eb0;
    padding: 2rem;
}

#app {
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    margin: auto;
    width: 800px;
}

body {
    background-color: #111;
}

button {
    background-color: #222;
    border-color: #eb0;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

button:active, button:hover:active {
    opacity: 0.5;
}

ul {
    padding: 0;
}

.desc-die {
    max-height: 1.2rem;
    max-width: 1.2rem;
}

/* .title h1 {
    margin: 0 auto;
    text-shadow: 0px 0px 3px #808;
    text-transform: uppercase;
    transform: skew(-10deg, -10deg);
} */

/* h1.small {
    font-size: 1rem;
} */

h2.small {
    font-size: 0.7rem;
}

input, select {
    background-color: #222;
    border: 0px none transparent;
}

select {
    border-radius: 4px;
    padding: 0.4rem;
}

option:disabled {
    color: #750;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: right;
}

.row.top {
    align-items: start;
    justify-content: start;
}

.side-menu-header {
    display: block;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.die {
    display: flex;
    flex-direction: column;
}
.die,
.trait {
    color: #8d2;
}

.trait-die {
    max-height: 2.5rem;
    max-width: 2.5rem;
}

.trait-score {
    margin-right: 1rem;
}

/* #title {
    padding: 2.5rem 2rem 2rem 2rem;
    transform: skewX(15deg);
    width: 250px;
} */
