* {
    box-sizing: border-box;
    color: #eb0;
    scrollbar-color: #960 #222;
}

*:focus, *:focus-visible {
    outline: 0 solid #750;
    box-shadow: 0 0 10px #d2f;
}

body {
    background-color: #333;
    border-color: #eb0;
    color: #eb0;
    font-family: sans-serif;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    margin: 0 auto;
    width: 800px;
}

#main {
    display: flex;
    flex: 1 1;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #111;
}

button {
    background-color: #222;
    border-color: #eb0;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

button:disabled {
    background-color: #444;
    border-color: #960;
    color: #960;
}

button:active, button:hover:active {
    opacity: 0.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.7rem 0;
}

p {
    margin: 0 0 0.5rem 0;
}

ul {
    padding: 0;
}

.desc-die {
    max-height: 1.2rem;
    max-width: 1.2rem;
}

/* .title h1 {
    margin: 0 auto;
    text-shadow: 0px 0px 3px #808;
    text-transform: uppercase;
    transform: skew(-10deg, -10deg);
} */

/* h1.small {
    font-size: 1rem;
} */

h2.small {
    font-size: 0.7rem;
}

input, select {
    background-color: #222;
    border: 0px none transparent;
}

select {
    border-radius: 4px;
    padding: 0.4rem;
}

.input-wrapper:after, .select:after {
	border-bottom: 3px solid #eb0;
	content: '';
	display: block;
	min-width: 3rem;
	transition: 0.2s;
	width: 5%;
}

.input-wrapper:hover:after,
.input-wrapper:focus-within:after,
.select:hover:after,
.select:focus:after {
	width: 100%;
}

option:disabled {
    color: #750;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.indent {
    margin-left: 0.5rem;
}

.menu-divider {
    border-bottom: 1px solid #eb0;
    /* border-top: 1px solid #eb0; */
    height: 8px;
}

.modal .header {
    border-bottom: 1px solid #760;
    color: #960;
    width: 100%;
}

.modal select {
    background-color: #333;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: right;
}

.row.top {
    align-items: start;
    justify-content: start;
}

.side-menu-header {
    display: block;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.small {
    color: #a70;
    font-size: 0.75rem;
    margin-left: 1rem;
}

.sneaky {
    opacity: 0;
    transition: opacity 0.2s;
}

.sneaky-parent:hover .sneaky,
.sneaky-parent:focus .sneaky,
.sneaky-parent:focus-within .sneaky,
.sneaky-parent:active .sneaky {
    opacity: 1;
}

.subtitle
{
    color: #960;
    font-size: 0.7rem;
    line-height: 1;
    margin-top: -0.2rem;
}

.die {
    display: flex;
    flex-direction: column;
}

.die,
.trait {
    color: #8d2;
}

.trait-die {
    max-height: 2.5rem;
    max-width: 2.5rem;
}

.trait-score {
    margin: 0 1rem;
}

/* #title {
    padding: 2.5rem 2rem 2rem 2rem;
    transform: skewX(15deg);
    width: 250px;
} */

.test {
    border: 2px solid #8d2;
}